*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

summary {
  list-style: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

address {
  font-style: normal;
}

@media (min-width: 86.875em) {
  .page__accordion {
    padding-block: 100px;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  .page__accordion {
    padding-block: clamp( 50px , 35.046728972px  +  4.6728971963vw , 100px );
  }
}
@media (max-width: 20em) {
  .page__accordion {
    padding-block: 50px;
  }
}

.accordion-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 86.875em) {
  .accordion-page__container {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  .accordion-page__container {
    -webkit-column-gap: clamp( 15px , 10.5140186916px  +  1.4018691589vw , 30px );
       -moz-column-gap: clamp( 15px , 10.5140186916px  +  1.4018691589vw , 30px );
            column-gap: clamp( 15px , 10.5140186916px  +  1.4018691589vw , 30px );
  }
}
@media (max-width: 20em) {
  .accordion-page__container {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
@media (min-width: 86.875em) {
  .accordion-page__container {
    row-gap: 30px;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  .accordion-page__container {
    row-gap: clamp( 15px , 10.5140186916px  +  1.4018691589vw , 30px );
  }
}
@media (max-width: 20em) {
  .accordion-page__container {
    row-gap: 15px;
  }
}

.accordion-menu {
  max-width: 31.25rem;
  position: relative;
  border-radius: 0.375rem;
  counter-increment: item;
  background-color: #292F36;
  -webkit-box-shadow: 0 0 14px rgba(20, 120, 80, 0.4), 0 0 28px rgba(20, 120, 80, 0.25), 0 0 45px rgba(20, 120, 80, 0.15);
          box-shadow: 0 0 14px rgba(20, 120, 80, 0.4), 0 0 28px rgba(20, 120, 80, 0.25), 0 0 45px rgba(20, 120, 80, 0.15);
}
.accordion-menu__inner {
  padding: 2rem;
}
@media (min-width: 86.875em) {
  .accordion-menu__inner {
    row-gap: 30px;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  .accordion-menu__inner {
    row-gap: clamp( 15px , 10.5140186916px  +  1.4018691589vw , 30px );
  }
}
@media (max-width: 20em) {
  .accordion-menu__inner {
    row-gap: 15px;
  }
}
.top-accordion__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
}
.top-accordion__title {
  position: relative;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.09375rem;
  color: #fff;
}
@media (min-width: 86.875em) {
  .top-accordion__title {
    font-size: 24px;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  .top-accordion__title {
    font-size: clamp( 20px , 18.8037383178px  +  0.3738317757vw , 24px );
  }
}
@media (max-width: 20em) {
  .top-accordion__title {
    font-size: 20px;
  }
}
.top-accordion__icon {
  position: relative;
  width: 1.875rem;
  height: 1.875rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 10;
  background-color: #1A1E23;
  border-radius: 3.125rem;
  border: 0.0625rem solid #12F7D6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.top-accordion__icon span {
  position: relative;
  width: 0.625rem;
  aspect-ratio: 1;
  z-index: 10;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: rotate 0.3s ease;
  transition: rotate 0.3s ease;
}
.top-accordion__icon span::before, .top-accordion__icon span::after {
  content: "";
  position: absolute;
  width: 0.625rem;
  height: 0.0625rem;
  background-color: #00ADB5;
  border-radius: 0.375rem;
}
.top-accordion__icon span::before {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.top-accordion__icon span::after {
  rotate: 90deg;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  -webkit-transition: rotate 0.3s ease;
  transition: rotate 0.3s ease;
}

.body-accordion__content {
  padding-top: 1.25rem;
}

@-webkit-keyframes jumpArrow {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

@keyframes jumpArrow {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}
@-webkit-keyframes arrowMove {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  60% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  80% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  100% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
}
@keyframes arrowMove {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  60% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  80% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  100% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  60% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  60% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes shine {
  0% {
    left: -80%;
  }
  100% {
    left: 120%;
  }
}
@keyframes shine {
  0% {
    left: -80%;
  }
  100% {
    left: 120%;
  }
}
@font-face {
  font-family: "iconfont";
  src: url("/src/assets/fonts/icomoon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class*="--icon-"]::before {
  font-family: "iconfont";
  line-height: 1 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="--icon-i-chevron"]::before {
  content: "\e903";
}

[class*="--icon-arrow"]::before {
  content: "\e900";
}

.components__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.125rem;
  padding-top: 3.125rem;
}
.icon-menu {
  position: relative;
  width: 1.875rem;
  height: 1.25rem;
  z-index: 10;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.icon-menu::before, .icon-menu::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.1875rem;
  border-radius: 0.625rem;
  background-color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.icon-menu::before {
  top: 0;
}
.icon-menu::after {
  bottom: 0;
}
.icon-menu span {
  position: absolute;
  top: 50%;
  right: 0;
  translate: 0 -50%;
  background-color: #000;
  width: 70%;
  height: 0.1875rem;
  border-radius: 0.625rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu-open .icon-menu::before {
  top: 50%;
  rotate: 45deg;
  translate: 0 -50%;
}
.menu-open .icon-menu::after {
  top: 50%;
  rotate: -45deg;
  translate: 0 -50%;
}
.menu-open .icon-menu span {
  width: 0;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: #fff;
  background-color: #292F36;
}
body.scroll-lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 86.875rem;
  padding-inline: 0.9375rem;
  margin: 0 auto;
}

html[data-input=mouse] .menu-dropdown__item--submenu:hover > .menu-dropdown__submenu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

html[data-input=keyboard] .is-active .submenu-dropdowne {
  display: block;
}

[data-accordion-body] {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

[data-accordion].active .top-accordion__title {
  color: #12F7D6;
}
[data-accordion].active .top-accordion__icon span::after {
  rotate: -180deg;
}

.active [data-accordion-icon] {
  background-color: #292F36;
}