*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

summary {
  list-style: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

address {
  font-style: normal;
}

.footer {
  padding-block: 6.25rem;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
}
@media (max-width: 36.25em) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
[data-accordion].active .column-footer__title::before {
  rotate: 270deg;
}

.column-footer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
}
.column-footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  font-size: 1.25rem;
}
.column-footer__title::before {
  rotate: 90deg;
  font-size: 1rem;
  aspect-ratio: 1;
  -webkit-transition: rotate 0.3s ease;
  transition: rotate 0.3s ease;
}
@media (min-width: 36.31125em) {
  .column-footer__title::before {
    display: none;
  }
}
.column-footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
  will-change: height;
}
@media (max-width: 36.25em) {
  .column-footer__menu {
    height: 0;
    overflow: hidden;
  }
}
@media (min-width: 36.3125em) {
  .column-footer__menu {
    height: auto !important;
    overflow: visible;
  }
}
.column-footer__item {
  font-size: 0.8125rem;
  text-transform: uppercase;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .column-footer__link:hover {
    text-decoration: underline;
    color: red;
  }
}

@media (min-width: 86.875em) {
  .page__hero {
    padding-block: 100px;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  .page__hero {
    padding-block: clamp( 50px , 35.046728972px  +  4.6728971963vw , 100px );
  }
}
@media (max-width: 20em) {
  .page__hero {
    padding-block: 50px;
  }
}

@media (min-width: 86.875em) {
  .hero__container > * {
    margin-bottom: 40px;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  .hero__container > * {
    margin-bottom: clamp( 20px , 14.0186915888px  +  1.8691588785vw , 40px );
  }
}
@media (max-width: 20em) {
  .hero__container > * {
    margin-bottom: 20px;
  }
}
.hero__container > *:last-child {
  margin-bottom: 0rem;
}
.hero__title {
  text-align: center;
}
@media (min-width: 86.875em) {
  .hero__title {
    font-size: 54px;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  .hero__title {
    font-size: clamp( 30px , 22.8224299065px  +  2.2429906542vw , 54px );
  }
}
@media (max-width: 20em) {
  .hero__title {
    font-size: 30px;
  }
}
.hero__text p:first-child {
  font-size: 1.625rem;
}

.button {
  text-transform: uppercase;
  padding: 1.25rem 1.875rem;
  color: #000;
  border-radius: 0.625rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: rgb(218, 197, 167);
}
html[data-input=mouse] .button:hover {
  background: red;
}
html[data-input=mouse] .button:focus-visible {
  outline: 2px solid blue;
}

@-webkit-keyframes jumpArrow {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

@keyframes jumpArrow {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}
@-webkit-keyframes arrowMove {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  60% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  80% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  100% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
}
@keyframes arrowMove {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  60% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  80% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  100% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  60% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  60% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes shine {
  0% {
    left: -80%;
  }
  100% {
    left: 120%;
  }
}
@keyframes shine {
  0% {
    left: -80%;
  }
  100% {
    left: 120%;
  }
}
@font-face {
  font-family: "iconfont";
  src: url("/src/assets/fonts/icomoon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class*="--icon-"]::before {
  font-family: "iconfont";
  line-height: 1 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="--icon-i-chevron"]::before {
  content: "\e903";
}

[class*="--icon-arrow"]::before {
  content: "\e900";
}

.components__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.125rem;
  padding-top: 3.125rem;
}
.icon-menu {
  position: relative;
  width: 1.875rem;
  height: 1.25rem;
  z-index: 10;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.icon-menu::before, .icon-menu::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.1875rem;
  border-radius: 0.625rem;
  background-color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.icon-menu::before {
  top: 0;
}
.icon-menu::after {
  bottom: 0;
}
.icon-menu span {
  position: absolute;
  top: 50%;
  right: 0;
  translate: 0 -50%;
  background-color: #000;
  width: 70%;
  height: 0.1875rem;
  border-radius: 0.625rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu-open .icon-menu::before {
  top: 50%;
  rotate: 45deg;
  translate: 0 -50%;
}
.menu-open .icon-menu::after {
  top: 50%;
  rotate: -45deg;
  translate: 0 -50%;
}
.menu-open .icon-menu span {
  width: 0;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: rgb(218, 197, 167);
  background-color: rgb(14, 14, 14);
}
body.scroll-lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 86.875rem;
  padding-inline: 0.9375rem;
  margin: 0 auto;
}